<!DOCTYPE html>
<html>
<head>
	<title>MoBlog</title>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
	<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/stylesheet/mo.css">
	
	   <link rel="icon" href="/img/favicon.png"/>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
<nav class="navbar fixed-top navbar-dark bg-dark navbar-expand-lg">
  <a class="navbar-brand" href="/"> <i class="fab fa-connectdevelop fa-spin"></i> Mo's Blog</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
   <div class="collapse navbar-collapse" id="navbarNavAltMarkup"> 
     	<div class="navbar-nav">
		      <a class="nav-item nav-link active" href="/">Home <span class="sr-only">(current)</span></a>
		      <a class="nav-item nav-link" href="/about">About</a>
		      <a class="nav-item nav-link" href="/blogs">Posts</a>
		      <a class="nav-item nav-link" href="/services">Services</a>
		      <a class="nav-item nav-link" href="/contact">Contact</a>
		    </div>

		<!--right side botten-->
	
		<div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
		   
        <ul class="navbar-nav ml-auto">
            
            <li class="nav-item">
                <a class="nav-link" href="/login">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/new">Sign Up</a>
            </li>
        </ul>
    </div>
    <!--right side botten-->
    </div>
</nav>

</head>
