<%- include('partials/header') -%>
<body>
    <div data-aos="fade-right" data-aos-duration="1600" class="aboutpage">
        
<h1 >Here I Go </h1>
       
        
    </div>
    
    <div class="container ">
        
        <h3 data-aos="fade-right">Hi and welcome to my personal page</h3>
        
        <p data-aos="fade-left">   First let me introduce myself , my name is  <strong >Mohammed Aljasser</strong> or <strong>Mo</strong> for short and i'm currently 23 years old </p>
        <p data-aos="fade-left">I am a programmer, a gamer and a freelancer (full-stack web developer) </p>
        <p data-aos="fade-left">i'm currently studying Software Engineering At King Saud University and working on finishing it soon</p>
        <p data-aos="fade-left">for this moment i am working as a freelancer for whoever wants a website or a simple mobile application </p>
        
         <h4 data-aos="fade-right" >Here is what i'm good at </h4>
         <ul class="list-group">
             <li data-aos="fade-right" class="list-group-item d-flex justify-content-between align-items-center">HTML 
             <span class="badge badge-primary badge-pill">98%</span>
             </li>
             <li data-aos="fade-left" class="list-group-item d-flex justify-content-between align-items-center">CSS
             <span class="badge badge-primary badge-pill">90%</span>
             </li>
             <li data-aos="fade-left" class="list-group-item d-flex justify-content-between align-items-center">Java
             <span class="badge badge-primary badge-pill">84%</span>
             </li>
             <li data-aos="fade-right" class="list-group-item d-flex justify-content-between align-items-center">Wordpress
             <span class="badge badge-primary badge-pill">76%</span>
             </li>
             <li data-aos="fade-left" class="list-group-item d-flex justify-content-between align-items-center">javascript
             <span class="badge badge-primary badge-pill">89%</span>
             </li>
             <li  data-aos="fade-right" class="list-group-item d-flex justify-content-between align-items-center">Node.js
             <span class="badge badge-primary badge-pill">92%</span>
             </li>
             <li data-aos="fade-left" class="list-group-item d-flex justify-content-between align-items-center">jquery
             <span class="badge badge-primary badge-pill">81%</span>
             </li>
             <li data-aos="fade-right" class="list-group-item d-flex justify-content-between align-items-center">Bootstrap 4
             <span class="badge badge-primary badge-pill">90%</span>
             </li>
             <li data-aos="fade-left" class="list-group-item d-flex justify-content-between align-items-center">Angular
             <span class="badge badge-primary badge-pill">70%</span>
             </li>
             <li data-aos="fade-right" class="list-group-item d-flex justify-content-between align-items-center">MangoDB
             <span class="badge badge-primary badge-pill">67%</span>
             </li>
             <li data-aos="fade-left" class="list-group-item d-flex justify-content-between align-items-center">Fast Learner :D
             <span class="badge badge-primary badge-pill">100%</span>
             </li>
             
         </ul>
        
    </div>
    
    <div data-aos="fade-right" data-aos-duration="1000" class="aboutpage2 mt-4 "></div>
    <!--// <p> <i class="fas fa-sync fa-9x fa-spin"></i> </p> -->
    <div class="container">
   
    
        <h3 data-aos="fade-up" data-aos-duration="1000" > My Projects </h3>
        
        <ul class="list-group">
            <li data-aos="fade-right"  data-aos-duration="1200" class="list-group-item">
            <a class="nav-item nav-link" href="#">Project1</a>
            </li>
            <li data-aos="fade-right"  data-aos-duration="1500" class="list-group-item">
            <a class="nav-item nav-link"  href="#">Project2</a>
            </li>
            <li data-aos="fade-right"  data-aos-duration="1700" class="list-group-item">
            <a class="nav-item nav-link" href="#">Project3</a>
            </li> 
            <li data-aos="fade-right"  data-aos-duration="1900" class="list-group-item">
            <a class="nav-item nav-link" href="#">Project4</a>
            </li>
            <li data-aos="fade-right" data-aos-duration="2000" class="list-group-item">
            <a class="nav-item nav-link" href="#">Project5</a>
            </li>
        </ul>
        <p data-aos="fade-right"  data-aos-duration="3000" >*p.s : Still in progress</p>
  
    </div>
    
    <div data-aos="fade-right" data-aos-duration="1000" class="aboutpage3 mt-4"></div>
    

<%- include('partials/footer') -%>