<%- include('partials/header')-%>


<body>
    
    <div data-aos="fade-down" data-aos-duration="1000" class="contactpage"></div>
    
    
    <div  class="container">
        <h3> Contact me </h3>
        
       <h5 data-aos="fade-down" ><i class="fas fa-phone"></i> Phone Number </h5>
       <p data-aos="fade-left">1234567899</p>
        <h5 data-aos="fade-down"><i class="fas fa-at"></i> Email </h5>
       <p data-aos="fade-left">Services@justmo.io</p>
        <h5  data-aos="fade-down"><i class="far fa-building"></i> Visit us in the office</h5>
       <p data-aos="fade-left"> (Soon)!</p>
        <h5 data-aos="fade-down" ><i class="far fa-comments"></i> Chat with me in any platform</h5>
       <p data-aos="fade-left"> You can find them in the Footer <i  class="fas fa-level-down-alt"></i> </p>
        
        
    </div>
    
    
<%- include('partials/footer')-%>
