<%- include('partials/header')-%>


<body>
    
    <div data-aos="fade-left" data-aos-duration="1600" class="servicespage "></div>
    
    
    <div data-aos="fade-right" data-aos-duration="1700" class="container mt-4">
        <h3><i class="fas fa-code"></i> Services. </h3>
        <p>So you want our services ! great choice</p>
        <p>Our team is ready for any challenge </p>
        <p>And we are up to anytask</p>
         </div>
    
    <div data-aos="fade-up" data-aos-duration="1700" class="servicespage2"></div>
    <div class=container>
    <h2 data-aos="fade-down"><i class="fas fa-globe-americas"></i> 1. Website for your business  </h2>
    <p data-aos="fade-left">Phones Are everything now a days , use that to grow your business </p>
    <p data-aos="fade-left"> build a Mobile App for your business </p>
    <ul class="list-group">
        <li data-aos="fade-right"  data-aos-duration="1200" class="list-group-item">Building a website that suit your brand and your business</li>
        <li data-aos="fade-right"  data-aos-duration="1300" class="list-group-item"> Responsive layout </li>
        <li data-aos="fade-right"  data-aos-duration="1400" class="list-group-item"> Beautiful visuals </li>
        <li data-aos="fade-right"  data-aos-duration="1500" class="list-group-item">  Hosting </li>
        <li data-aos="fade-left"  data-aos-duration="1600" class="list-group-item"> And More...</li>
    </ul>
    
    </div>
    
    <div  data-aos="fade-right" data-aos-duration="1600" class="servicespage3 mt-3"></div>
    
    <div class=container>
    <h2 data-aos="fade-down"><i class="fas fa-globe-americas"></i> 2. Branding  </h2>
   
    
    <p data-aos="fade-left">new to the busniess and need a brand ? worry not</p>
    <p data-aos="fade-left"> Our designers are great! and you can see their portfolio</p>
    <p data-aos="fade-left"> We will help you get an eye catching brand</p>
    <ul class="list-group">
        <li data-aos="fade-right"  data-aos-duration="1200" class="list-group-item">design a proflie for your business </li>
        <li data-aos="fade-right"  data-aos-duration="1300" class="list-group-item"> Logo </li>
        <li data-aos="fade-right"  data-aos-duration="1400" class="list-group-item"> Animated clips </li>
        <li data-aos="fade-right"  data-aos-duration="1500" class="list-group-item">Busniess cards design</li>
        <li data-aos="fade-left"  data-aos-duration="1600" class="list-group-item"> And More...</li>
    </ul>
    
    </div>
    
<div  data-aos="fade-right" data-aos-duration="1600" class="servicespage4 mt-3"></div>
<div class=container>
    <h2 data-aos="fade-down"><i class="fas fa-globe-americas"></i> 3. Mobile application (soon!)  </h2>
    <p data-aos="fade-left">Phones Are everything now a days , use that to grow your business </p>
    <p data-aos="fade-left"> build a Mobile App for your business </p>
    
     <ul class="list-group">
        <li data-aos="fade-right"  data-aos-duration="1200" class="list-group-item">Soon! </li>
       
    </ul>
   
</div>


<%- include('partials/footer')-%>
